<ons-page class="paperBgCom">
	<div ng-controller="ListController">
        
        <ons-toolbar class="redNavBarCom">
            <div class="left"><ons-back-button ng-click="navi.popPage();">戻る</ons-back-button></div>
            <div class="center">曳山一覧</div>
        </ons-toolbar>
        
        



<secton class="stampListMod">
    <ul class="ls">
        
        
        
        <li><a href="#"><span class="img"><span class="imgIn"><img src="img/stamplist_mod_pic1.jpg" height="210" width="290" alt=""></span></span><span class="txt stampOn">
            <span class="name">西行桜狸山</span>
            <span class="yomi">（さいぎょうさくらたぬきやま）</span>
        </span></a></li>
        
        
        
        <li><a href="#"><span class="img"><span class="imgIn"><img src="img/stamplist_mod_pic1.jpg" height="210" width="290" alt=""></span></span><span class="txt">
            <span class="name">西行桜狸山</span>
            <span class="yomi">（さいぎょうさくらたぬきやま）</span>
        </span></a></li>
        
        
        
        <li><a href="#"><span class="img"><span class="imgIn"><img src="img/stamplist_mod_pic1.jpg" height="210" width="290" alt=""></span></span><span class="txt">
            <span class="name">西行桜狸山</span>
            <span class="yomi">（さいぎょうさくらたぬきやま）</span>
        </span></a></li>
        
        
        
        <li><a href="#"><span class="img"><span class="imgIn"><img src="img/stamplist_mod_pic1.jpg" height="210" width="290" alt=""></span></span><span class="txt">
            <span class="name">西行桜狸山</span>
            <span class="yomi">（さいぎょうさくらたぬきやま）</span>
        </span></a></li>
        
        
        <li><a href="#"><span class="img"><span class="imgIn"><img src="img/stamplist_mod_pic1.jpg" height="210" width="290" alt=""></span></span><span class="txt">
            <span class="name">西行桜狸山</span>
            <span class="yomi">（さいぎょうさくらたぬきやま）</span>
        </span></a></li>
        
        
        <li><a href="#"><span class="img"><span class="imgIn"><img src="img/stamplist_mod_pic1.jpg" height="210" width="290" alt=""></span></span><span class="txt">
            <span class="name">西行桜狸山</span>
            <span class="yomi">（さいぎょうさくらたぬきやま）</span>
        </span></a></li>
        
        
        <li><a href="#"><span class="img"><span class="imgIn"><img src="img/stamplist_mod_pic1.jpg" height="210" width="290" alt=""></span></span><span class="txt">
            <span class="name">西行桜狸山</span>
            <span class="yomi">（さいぎょうさくらたぬきやま）</span>
        </span></a></li>
        
        
        <li><a href="#"><span class="img"><span class="imgIn"><img src="img/stamplist_mod_pic1.jpg" height="210" width="290" alt=""></span></span><span class="txt">
            <span class="name">西行桜狸山</span>
            <span class="yomi">（さいぎょうさくらたぬきやま）</span>
        </span></a></li>
        
        
        <li><a href="#"><span class="img"><span class="imgIn"><img src="img/stamplist_mod_pic1.jpg" height="210" width="290" alt=""></span></span><span class="txt">
            <span class="name">西行桜狸山</span>
            <span class="yomi">（さいぎょうさくらたぬきやま）</span>
        </span></a></li>
        
        
    </ul>
</secton>



<!--		<ons-list>-->
<!--			<ons-list-item modifier="chevron" class="item" ng-repeat="item in items" ng-click="showDetail($index)">-->
<!--			</ons-list-item>-->
<!--		</ons-list>-->
	</div>
</ons-page>