<ons-page class="paperBgCom" id="hikiyamaDetail">
    <div ng-controller="DetailController">
        <ons-toolbar class="redNavBarCom">
            <div class="left">
                <ons-back-button>戻る</ons-back-button>
            </div>
            <div class="center">曳山詳細</div>
        </ons-toolbar>
        <script src="bower_components/design/sp_detail.js"></script>
        <h2 class="headCom" ng-bind="item.title"></h2>
        <ul class="bxslider">
            <li ng-repeat="img in imageList" bxslider-directive><img src="{{img.src}}" alt="{{img.alt}}" height="388" width="580" title="" /></li>
        </ul>
        
        <span ng-show="onseiSwitch">
            <ons-button ng-click="onseiOff()" modifier="large" class="button-brown"><i class="fa fa-volume-off"></i> 音声を止める</ons-button>
        </span>
        <span ng-hide="onseiSwitch">
            <ons-button ng-click="onseiOn()" modifier="large" class="button-brown"><i class="fa fa-volume-up"></i> 音声を再生</ons-button>
        </span>
        
        <h2 class="headCom">からくりの説明</h2>
        <div class="wysiwygCom">
            <p ng-bind="item.karakuriDiscription"></p>
        </div>
        <h2 class="headCom">曳山の説明</h2>
        <iframe width="100%" height="315" src="{{trustURL(item.movieURL)}}" frameborder="0" allowfullscreen></iframe>
        <div class="wysiwygCom">
            <p ng-bind="item.hikiyamaDiscription"></p>
        </div>
        <section class="accordionMod">
            <h2 class="title">その他</h2>
            <div class="in">
                <div class="wysiwygCom">
                    <p ng-bind="item.sonota"></p>
                </div>
            </div>
        </section>
    </div>
</ons-page>
