@charset "UTF-8";



body {
	font-size:12px;
	color: #333333;
	font-family: 'Helvetica', 'Arial', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic ProN', 'Osaka', 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

.serifCom {
	font-family: "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "游明朝", "Yu Mincho", "HG明朝B","ＭＳ Ｐ明朝","ＭＳ 明朝" , serif;
}



.firstTopCom {
	margin-top:0px !important;
}
.firstLeftCom {
	margin-left:0px !important;
}




#appLogo {
	text-align: center;
	margin-top: 11%;
}
#appLogo img {
	width: 70%;
	height: auto;
}
#hikiyamaSearch {
	margin-left: auto;
	margin-right: auto;
	width: 40%;
	margin-top: 14%;
	position: relative;

}
#hikiyamaSearch .bg img {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	z-index: 0;
}
#hikiyamaSearch .anime img {
	position: absolute;
	top: 11%;
	left: 20.5%;
	width: 58.3%;
	height: auto;
	z-index: 1;
}

ons-page {
    position:absolute;
    z-index:2;
}

.page, .page__background {
	background-color: transparent !important;
}


body {
	width: 100%;
	height: 100%;
}
.fadeBgMod {
	height: 100%;
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;

	overflow: hidden;
}
.fadeBgMod img {
	height: 100%;
	width: auto;
}
.fadeBgMod li {
	display: none;
	position: absolute;
		height: 100%;
	width: 100%;
	text-align: center;

}


/*daialog*/
.dialog  {
	width: 94% !important;
	height: 94% !important;
	background-color: #fff !important;
}

.searchListMod .list__item {
	line-height: 140% !important;
	padding: 15px !important;
}
.searchListMod .navigation-bar {
	height: auto !important;
}
.searchListMod .navigation-bar__title {
}
.searchListMod .navigation-bar__title {
	padding: 15px;
	height: auto !important;
	float: none !important;
	line-height: normal !important;
}
.searchListMod .navigation-bar__title img {
	width: 100%;
	height: auto;

}
.searchListMod .col1 {
	  -webkit-box-flex: 0.4;
  -webkit-flex: 0.4;
  -moz-flex: 0.4;
  -ms-flex: 0.4;
}
.searchListMod .col1 img {
	width: 100%;
	height: auto;
}


.searchListMod .col2 {
	  -webkit-box-flex: 1.0;
  -webkit-flex: 1.0;
  -moz-flex: 1.0;
  -ms-flex: 1.0;
  padding-left: 10px;
}
.searchListMod .name {
	font-weight: bold;
	font-size: 20px;
}

.searchListMod .yomi {
	font-size: 12px;
}
.searchListMod .kyori {
	font-size: 16px;
	color: #880000;
	margin-top: 15px;
}



.navigation-bar {
	background-color: #820000 !important;
	border-bottom: 1px solid #470000 !important;

}

.navigation-bar__title, .ons-back-button__icon {
	color: #fff !important;

}

.bx-wrapper {
	padding: 10px !important;
	margin-top: 10px !important;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.bx-wrapper .bx-viewport {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	/*display: none !important;*/
}
.bx-controls {
/*謎の隙間対策*/
	width: 90%;
	left: 5%;
	position: relative;
	

}

.bx-wrapper img {
	height: auto !important;
	width: 100% !important;
}


body {
	background-image: url(../img_sp/wrapper_bg.jpg);

}
#wrapper {
	padding-bottom: 10px;
}

h2.headCom
,.accordionMod .title {
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	background-color: #e4decf;
	color: #2b0303 !important;

	border: double medium #d3c6ae;
	font-size: 17px;
	padding: 5px;
}
.accordionMod .title {
	background-image: url(../img_sp/accordion_mod_plus.png);
	padding-left: 40px;
	background-repeat: no-repeat;
	
	background-position: 5px center;
}
.accordionMod .title.on {
	background-image: url(../img_sp/accordion_mod_minus.png);
}

iframe {
	margin-top: 20px;
	padding-left: 10px;
	padding-right: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

}


#hikiyamaListBtn {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
}
#hikiyamaListBtn .btn {
	display: block;
	padding: 15px;
	text-align: center;
	background-color: rgba(255,255,255,0.9);


-moz-box-shadow: 0px -1px 1px #aaaaaa;
-webkit-box-shadow: 0px -1px 1px #aaaaaa;
box-shadow: 0px -1px 1px #aaaaaa;
filter: progid:DXImageTransform.Microsoft.Shadow(strength = 0, direction = 0, color = '#aaaaaa');
-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(strength = 0, Direction = 0, Color = '#aaaaaa')";
/*Shadows look very different in IE (Only cardinal directions supported)*/
/*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
/*Element should have a background-color*/
/*All filters must be placed together*/
/*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/

	
}
#hikiyamaListBtn .btn img {
	width: 50%;
	height: auto;
}


    .stampListMod .ls {
      overflow: hidden;
      width: 100%;
      padding-right: 20px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      
    }
    .stampListMod .ls li {
      margin-top: 20px;
      width: 50%;

      vertical-align: top;
      padding-left: 20px;
      
      float: left;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;

    }
    .stampListMod .ls li a {
      display: block;
      background-color: #fff;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
      border-radius: 5px;

      -moz-box-shadow: 0px 0px 2px #999;
      -webkit-box-shadow: 0px 0px 2px #999;
      box-shadow: 0px 0px 2px #999;
      /*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/

      text-decoration: none;
      color: #333;

    }
    .stampListMod .list li:nth-child(2n+1) {
      clear: left;
    }
    .stampListMod .ls li .img {
      position: relative;
      display: block;
      overflow: hidden;
      
    }
    .stampListMod .ls li .img:after {
      padding-top: 75%;
      display: block;
      content: "";
    }
    .stampListMod .ls li .imgIn {
          position: absolute;
          top: 0px;
          left: 0px;
          bottom: 0px;
          right: 0px;
          display: block;
          text-align: center;
          
          
    }
    .stampListMod .ls li .img img {
      height: 100%;
      width: auto;

      
    }
    .stampListMod .ls li .txt {
      display: block;
      
      padding: 10px;

      background-image: url(../img_sp/stamplist_mod_stamp_off.png);
      padding-left: 50px;
      background-repeat: no-repeat;
      background-position: 10px 10px;
      line-height: 18px;

    }
    .stampListMod .ls li .stampOn {
      background-image: url(../img_sp/stamplist_mod_stamp_on.png);

    
    }
    .stampListMod .ls li .name {
      font-size: 16px;
      display: block;
      
    }
    .stampListMod .ls li .yomi {
      font-size: 12px;
      display: block;
      
    }
